
/* Logo Font Family */
@font-face {
    font-family: 'Yeasty';
    src: url("../assets/fonts/YeastyFlavorsRegular-yweyd.ttf") format("truetype");
}

:root {
    --white: #f8f8f8;
    --purple: #4a1fe0;
    --celtic-blue: #3576cf;
    --glaucous: #5B7BA8;
}

.navbar-logo {
    position: absolute;
    left: 2.5%;
    right: 90%;
    border: 1px solid var(--white);
}

#logo {
    font-family: 'Yeasty';
    letter-spacing: 0.5rem;
    text-shadow: 5px 5px 5px var(--glaucous);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--purple);
    width: 100%;
    height: 120px;
    color: var(--white);
    font-size: 32px;
}

.navbar-links {
    cursor: pointer;
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    width: 18%;
    margin-right: 5rem;
}

.position-sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
}

a {
    text-decoration: none;
    color: var(--white);
}

.generate-btn {
    color: var(--white);
    background-color: var(--celtic-blue);
    font-size: 32px;
    border-radius: 50px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.generate-btn:active {
    background-color: var(--glaucous);
    transition: 0.2s ease-in-out;
}

.generate-btn:hover {
    background-color: #8A1FE0;
    transition: 0.2s ease-in-out;
}

.generate-btn:hover:active {
    background-color: var(--glaucous);
    transition: 0.1s ease-in-out;
}